2_DELIV_MANUAL.json
{
  "name": "2_DELIV_MANUAL",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "propertyName": "session",
        "key": "=razresheno:sess:{{ $('When Executed by Another Workflow').item.json.tg_user_id }}",
        "options": {
          "dotNotation": true
        }
      },
      "id": "8754a281-eae3-4598-8919-ab9b7844ad04",
      "name": "PAY__REDIS_GET_SESSION1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -448,
        64
      ],
      "credentials": {
        "redis": {
          "id": "L8CJmx035hDrVPs3",
          "name": "Redis razresheno"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $json.session ??\n  $json.data ??\n  $json.redis?.session ??\n  $json.redis?.data ??\n  null;\n\nlet sess = {};\ntry {\n  sess = raw ? JSON.parse(raw) : {};\n} catch (e) {\n  sess = {};\n}\n\n// --- Гарантируем структуру ---\nif (!sess || typeof sess !== 'object') {\n  sess = {};\n}\n\n// Обязательные поля\nsess.active_request_id = sess.active_request_id ?? null;\nsess.awaiting = sess.awaiting ?? \"none\";\nsess.recipient_name = sess.recipient_name ?? null;\nsess.current_variant_idx = sess.current_variant_idx ?? \"0\";\nsess.last_variant_idx = sess.last_variant_idx ?? \"0\";\n\n// Новые поля для TZ логики\nsess.initiator_timezone = sess.initiator_timezone ?? null;\nsess.tariff_pending = sess.tariff_pending ?? null;\n\nreturn [{\n  json: {\n    ...$json,\n    session: sess,                  // <- ВАЖНО: возвращаем весь session\n    active_request_id: sess.active_request_id // оставляем для совместимости\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        64
      ],
      "id": "2a75b2f4-7da3-47b2-8e5c-70b63d8db0af",
      "name": "PAY__FN_PARSE_SESSION1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE razreshenobot.requests\nSET delivery_method = 'manual'::public.delivery_method,\n    delivery_username = NULL\nWHERE id = {{$json.session.active_request_id}}::bigint;",
        "options": {
          "queryReplacement": "={{ (() => {\n  const v =\n    $json.active_request_id ??\n    $json.session?.active_request_id ??\n    $node[\"FN_PARSE_SESSION\"]?.json?.active_request_id ??\n    null;\n\n  const n = parseInt(String(v ?? ''), 10);\n  return Number.isFinite(n) ? n : 0;  // <-- 0 безопаснее чем NaN\n})() }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "32b6c9c6-cbc2-442d-8817-3668a498fbf4",
      "name": "DELIV_MANUAL__PG_SET_MANUAL",
      "credentials": {
        "postgres": {
          "id": "e36q5Gqlsldmqa0I",
          "name": "Postgres razresheno"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $json.session;\nsession.tariff_pending = '199';\nsession.awaiting = 'none';\nreturn [{ ...$json, session, tariff: '199' }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        64
      ],
      "id": "d0edaeaa-f173-461f-9659-dc70f7012454",
      "name": "DELIV_MANUAL__FN_SET_TARIFF_PENDING_199"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=razresheno:sess:{{ $('When Executed by Another Workflow').item.json.tg_user_id }}",
        "value": "={{ JSON.stringify($json.session || {}) }}",
        "keyType": "string",
        "expire": true,
        "ttl": 86400
      },
      "id": "05dbcb15-b54c-46b8-9097-f610c0e47d89",
      "name": "START__REDIS_SET_SESSION6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        672,
        64
      ],
      "credentials": {
        "redis": {
          "id": "L8CJmx035hDrVPs3",
          "name": "Redis razresheno"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "8637ab85-955b-45ab-b2cc-fefe9cc806da",
      "name": "MERGE_CTX_USER10",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        224,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KYM4RrPOwEouYOyZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/KYM4RrPOwEouYOyZ",
          "cachedResultName": "2_BUILD_PAYMENT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        976,
        64
      ],
      "id": "86d6f994-fd76-449c-a076-6fa9a445a9e3",
      "name": "Execute Workflow 2_BUILD_PAYMENT1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "039b68f7-2a6c-4597-9b03-2c7403a3daca",
              "name": "tg_user_id",
              "value": "={{ $('FN_NORMALIZE1').item.json.tg_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        64
      ],
      "id": "10676936-8d1b-4c5c-be3c-2e0b6cb69dc3",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        64
      ],
      "id": "acf1657f-7b74-4151-9448-3264ee0f61bc",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "PAY__REDIS_GET_SESSION1": {
      "main": [
        [
          {
            "node": "PAY__FN_PARSE_SESSION1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAY__FN_PARSE_SESSION1": {
      "main": [
        [
          {
            "node": "DELIV_MANUAL__PG_SET_MANUAL",
            "type": "main",
            "index": 0
          },
          {
            "node": "MERGE_CTX_USER10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DELIV_MANUAL__PG_SET_MANUAL": {
      "main": [
        [
          {
            "node": "MERGE_CTX_USER10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELIV_MANUAL__FN_SET_TARIFF_PENDING_199": {
      "main": [
        [
          {
            "node": "START__REDIS_SET_SESSION6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__REDIS_SET_SESSION6": {
      "main": [
        [
          {
            "node": "Execute Workflow 2_BUILD_PAYMENT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_CTX_USER10": {
      "main": [
        [
          {
            "node": "DELIV_MANUAL__FN_SET_TARIFF_PENDING_199",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow 2_BUILD_PAYMENT1": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "PAY__REDIS_GET_SESSION1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "016cb132-6bda-4dad-80b1-450b9f1117ae",
  "meta": {
    "instanceId": "784907556f0c89efbde9ba288f0c0441c5b09242030c81d05d67aac99d485958"
  },
  "id": "LWlilTTedJ9mQ6Qg",
  "tags": []
}