2_SEAL_PICK.json
{
  "name": "2_SEAL_PICK",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        896
      ],
      "typeVersion": 1,
      "id": "a49ae993-229f-42d7-8675-16c4794af57a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=razresheno:sess:{{ $('When Executed by Another Workflow').item.json.tg_user_id }}",
        "value": "={{ JSON.stringify($json.session) }}"
      },
      "id": "6eafc959-ede6-4d48-8410-c2d73ded78d6",
      "name": "GO_SEAL__REDIS_SET_SESSION1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4176,
        576
      ],
      "credentials": {
        "redis": {
          "id": "L8CJmx035hDrVPs3",
          "name": "Redis razresheno"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/editMessageReplyMarkup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  chat_id: $node[\"When Executed by Another Workflow\"].json.chat_id,\n  message_id: $node[\"When Executed by Another Workflow\"].json.session?.last_inline_message_id,\n  reply_markup: { inline_keyboard: [] }\n} }}",
        "options": {}
      },
      "id": "b90cbb36-e215-4045-97fa-42878bce927e",
      "name": "START__TG_EDIT_RM_LAST_INLINE16",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -288,
        1008
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{ $node[\"SEAL_PICK__FN_PARSE_SESSION\"].json.session?.last_inline_message_id }}",
              "rightValue": "fake_",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "70f28e4b-788e-442c-bd2b-cb99e97ee76b",
      "name": "START__IF_HAS_LAST_INLINE15",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -512,
        928
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/editMessageReplyMarkup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  chat_id: $node[\"When Executed by Another Workflow\"].json.chat_id,\n  message_id: $node[\"SEAL_PICK__FN_PARSE_AND_VALIDATE_VARIANT\"].json.session?.last_inline_message_id,\n  reply_markup: { inline_keyboard: [] }\n} }}",
        "options": {}
      },
      "id": "6ec59265-2f9c-44cf-b91c-cfad2fcf4b68",
      "name": "START__TG_EDIT_RM_LAST_INLINE13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -976,
        656
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{ $node[\"SEAL_PICK__FN_PARSE_AND_VALIDATE_VARIANT\"].json.session?.last_inline_message_id }}",
              "rightValue": "fake_",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "b3117e22-9a86-47cc-87a3-11fa5f4c1c8f",
      "name": "START__IF_HAS_LAST_INLINE12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1200,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/editMessageReplyMarkup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  chat_id: $node[\"When Executed by Another Workflow\"].json.chat_id,\n  message_id: $node[\"When Executed by Another Workflow\"].json.session?.last_inline_message_id,\n  reply_markup: { inline_keyboard: [] }\n} }}",
        "options": {}
      },
      "id": "b1ff9d8b-a62c-42ee-8c72-ab3567aeb8a7",
      "name": "START__TG_EDIT_RM_LAST_INLINE12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2576,
        464
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{ $node[\"SEAL_PICK__FN_PARSE_SESSION\"].json.session?.last_inline_message_id }}",
              "rightValue": "fake_",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "a898c9c9-6e17-41e7-92a5-90dfcc232f2c",
      "name": "START__IF_HAS_LAST_INLINE11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2800,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/editMessageReplyMarkup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  chat_id: $node[\"When Executed by Another Workflow\"].json.chat_id,\n  message_id: Number($json.session.last_inline_message_id),\n  reply_markup: { inline_keyboard: [] }\n} }}",
        "options": {}
      },
      "id": "0e546af9-d4a9-4fa8-bd53-07a71c0ba87c",
      "name": "START__TG_EDIT_RM_LAST_INLINE11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -976,
        -64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{ $node[\"SEAL_PICK__FN_PARSE_SESSION\"].json.session?.last_inline_message_id }}",
              "rightValue": "fake_",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75bc33ab-1b5b-489b-937e-2712984d267b",
      "name": "START__IF_HAS_LAST_INLINE10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1200,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/editMessageReplyMarkup",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  chat_id: $node[\"When Executed by Another Workflow\"].json.chat_id,\n  message_id: $node[\"When Executed by Another Workflow\"].json.session?.last_inline_message_id,\n  reply_markup: { inline_keyboard: [] }\n} }}",
        "options": {}
      },
      "id": "178a9ca5-7415-4f19-8f0e-88e387bf092a",
      "name": "START__TG_EDIT_RM_LAST_INLINE2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -976,
        288
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{ $node[\"SEAL_PICK__FN_PARSE_SESSION\"].json.session?.last_inline_message_id }}",
              "rightValue": "fake_",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "c46a4ed0-a76e-447c-a5dc-a44a39619911",
      "name": "START__IF_HAS_LAST_INLINE1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1200,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// FN_BUILD_TZ_BUTTON_FOR_TARIFFS\n\nconst tzRaw =\n  $json.timezone ??\n  ($json[0]?.timezone) ??\n  null;\n\nconst tz = (tzRaw && String(tzRaw).trim()) ? String(tzRaw).trim() : null;\n\nconst pretty = {\n  \"Europe/Moscow\": \"MSK (UTC+3)\",\n  \"Asia/Yekaterinburg\": \"Екатеринбург (UTC+5)\",\n  \"Asia/Omsk\": \"Омск (UTC+6)\",\n  \"Asia/Krasnoyarsk\": \"Красноярск (UTC+7)\",\n  \"Asia/Irkutsk\": \"Иркутск (UTC+8)\",\n  \"Asia/Yakutsk\": \"Якутск (UTC+9)\",\n  \"Asia/Vladivostok\": \"Владивосток (UTC+10)\",\n};\n\nconst tzLabel = tz ? (pretty[tz] ?? tz) : \"не установлен\";\n\nconst btnText = tz\n  ? `Часовой пояс: ${tzLabel}. Сменить?`\n  : `Часовой пояс: ${tzLabel}. Установить?`;\n\nreturn [{\n  json: {\n    ...$json,\n    tz,\n    tzLabel,\n    tz_button: { text: btnText, callback_data: \"TZ_CHANGE\" }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        928
      ],
      "id": "2d73d990-b0cb-4e94-a393-c773c7d1bcca",
      "name": "FN_BUILD_TZ_BUTTON_FOR_TARIFFS"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select nullif(trim(coalesce(timezone,'')), '') as timezone\nfrom razreshenobot.users\nwhere tg_user_id = $1\nlimit 1;",
        "options": {
          "queryReplacement": "={{ $node[\"When Executed by Another Workflow\"].json.tg_user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -960,
        928
      ],
      "id": "7c5d9ebb-3193-4849-a429-c548c412d1e1",
      "name": "PG_GET_USER_TZ_FOR_TARIFFS",
      "credentials": {
        "postgres": {
          "id": "e36q5Gqlsldmqa0I",
          "name": "Postgres razresheno"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "61ad1141-25ca-4606-b189-c719b6f40079",
      "name": "MERGE_SEAL_PICK1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -2192,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем raw JSON варианта\nconst raw = $json.variant_raw ?? $json.data ?? null;\n\nif (!raw) {\n  throw new Error('Variant not found in Redis (expired or wrong key)');\n}\n\n// 2. Парсим JSON\nlet variant;\ntry {\n  variant = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  throw new Error('Variant JSON parse failed');\n}\n\n// 3. Получаем индекс, который выбрал пользователь\nconst pickedIdx = Number(($json.callback_data || '').split(':')[1]);\n\nif (!pickedIdx) {\n  throw new Error('Invalid seal_pick_idx from callback_data');\n}\n\n// 4. Проверка соответствия индекса\nif (!variant.idx || Number(variant.idx) !== pickedIdx) {\n  throw new Error(\n    `Variant idx mismatch. Picked: ${pickedIdx}, Stored: ${variant.idx}`\n  );\n}\n\n// 5. Базовая структурная валидация\nif (!variant.template_id || !variant.content || !Array.isArray(variant.content.points)) {\n  throw new Error('Variant structure invalid');\n}\n\n// Всё валидно — возвращаем нормализованный объект\nreturn [{\n  ...$json,\n  variant,\n  variant_idx: Number(variant.idx),\n  template_id: variant.template_id,\n  intro_id: variant.content.intro_id ?? null,\n  points: variant.content.points ?? [],\n  layout: variant.layout ?? {},\n  engine_version: variant.meta?.engine_version ?? null,\n  assets_version: variant.meta?.assets_version ?? null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        992
      ],
      "id": "bd840565-8a46-4f98-9f47-de65738937bd",
      "name": "SEAL_PICK__FN_PARSE_AND_VALIDATE_VARIANT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $node[\"When Executed by Another Workflow\"].json.chat_id,\n  text: `🏛 Бюро «Разрешено» \\n\\nВыбран вариант №${Number($node[\"SEAL_PICK__FN_PARSE_AND_VALIDATE_VARIANT\"].json.seal_pick_idx ?? 1)}.\n\nДля вступления документа в силу требуется заверение.\n\nВступает в силу немедленно.\nОбжалованию не подлежит.`,\n  reply_markup: {\n    inline_keyboard: [\n      [{ text: \"Заверить — 149 ₽\", callback_data: \"PAY:149\" }],\n      [{ text: \"Заверить + направить 8 марта с 9:00 до 9:30 — 199 ₽\", callback_data: \"PAY:199\" }],\n      [{ text: \"Выбрать другой вариант\", callback_data: \"GO_SEAL\" }],\n      [ $node[\"FN_BUILD_TZ_BUTTON_FOR_TARIFFS\"].json.tz_button ]\n    ]\n  }\n}) }}",
        "options": {}
      },
      "id": "d81c3612-f484-4e48-a41a-0e1a9e9100a3",
      "name": "SEAL_PICK__SEND_TARIFFS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -64,
        928
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `\nupdate requests\nset selected_variant_idx = ${Number(($json.callback_data || '').split(':')[1])},\n    updated_at = now()\nwhere id = ${Number($json.active_request_id)}\n` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1200,
        896
      ],
      "id": "504c4340-e09f-4493-a0fb-e085e9fdd8c3",
      "name": "SEAL_PICK__PG_UPDATE_REQUEST_SELECTED_VARIANT",
      "credentials": {
        "postgres": {
          "id": "e36q5Gqlsldmqa0I",
          "name": "Postgres razresheno"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $node[\"FN_NORMALIZE\"].json.chat_id,\n  text: `🏛 Бюро «Разрешено» \\nСрок хранения варианта истёк.\nПодготовьте документ заново.`,\n  reply_markup: {\n  \"inline_keyboard\": [\n    [{\"text\": \"Подготовить документ\", \"callback_data\": \"GEN_FIRST\"}]\n  ]\n}\n}) }}",
        "options": {}
      },
      "id": "695459a5-1f3d-4a9d-9ac7-943114865db1",
      "name": "SEAL_PICK__SEND_VARIANT_EXPIRED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -752,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{$json.variant_raw}}",
              "rightValue": "={{$json.last_variant_idx}}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cfb9e2e2-c9fd-4254-8ad0-a030ed7a2780",
      "name": "SEAL_PICK__IF_VARIANT_MISSING",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1744,
        992
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "variant_raw",
        "key": "=razresheno:req:{{ $json.active_request_id || $json.session?.active_request_id }}:v:{{ $json.seal_pick_idx }}",
        "options": {
          "dotNotation": true
        }
      },
      "id": "22f2b2a3-c33d-4022-a612-9bfb8a6e3779",
      "name": "SEAL_PICK__REDIS_GET_VARIANT",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2416,
        1072
      ],
      "credentials": {
        "redis": {
          "id": "L8CJmx035hDrVPs3",
          "name": "Redis razresheno"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $node[\"When Executed by Another Workflow\"].json.chat_id,\n  text: `🏛 Бюро «Разрешено» \\n\\nВариант №${$json.seal_pick_idx} ещё не подготовлен.\n\nСейчас доступно вариантов: ${$json.last_variant_idx}.`,\n  reply_markup: {\n    inline_keyboard: [\n      [\n        { text: \"Подготовить другой вариант\", callback_data: \"GEN_NEXT\" }\n      ],\n      [\n        { text: \"Перейти к заверению\", callback_data: \"GO_SEAL\" }\n      ]\n    ]\n  }\n}) }}",
        "options": {}
      },
      "id": "aea0d5af-8ab6-4912-ae0a-16a3595735a6",
      "name": "SEAL_PICK__SEND_NOT_READY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -752,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{$json.seal_pick_idx}}",
              "rightValue": "={{$json.last_variant_idx}}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10349d3c-3c3c-4a4d-a36e-35dc809ca921",
      "name": "SEAL_PICK__IF_IDX_NOT_READY",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2800,
        736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $node[\"FN_NORMALIZE\"].json.chat_id,\n  text: `Обращение не найдено.\nПодайте новое обращение командой /start.`,\n}) }}",
        "options": {}
      },
      "id": "8c8a6d1b-a790-4dfc-b65d-14e1d44f9c53",
      "name": "SEAL_PICK__SEND_NO_REQUEST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2352,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{$json.active_request_id}}",
              "rightValue": "={{$json.last_variant_idx}}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5953ffcc-cdae-481e-a246-0ad873926501",
      "name": "SEAL_PICK__IF_NO_REQUEST",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3024,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// SEAL_PICK__FN_PARSE_SESSION_AND_PICK\n\n// 1) seal_pick_idx\nconst cd = $json.callback_data ?? \"\";\nconst m = cd.match(/^SEAL_PICK:(\\d+)$/);\nconst seal_pick_idx = m ? Number(m[1]) : null;\n\n// 2) session parse\nconst raw =\n  $json.session ??\n  $json.redis?.session ??\n  $json.redis?.data ??\n  $json.data ??\n  $json.session_raw ??\n  null;\n\nlet sess = {};\ntry {\n  let parsed = raw;\n  if (typeof parsed === \"string\") parsed = JSON.parse(parsed);\n  if (typeof parsed === \"string\") parsed = JSON.parse(parsed);\n  if (parsed && typeof parsed === \"object\" && !Array.isArray(parsed)) sess = parsed;\n} catch (e) {\n  sess = {};\n}\n\nsess.active_request_id = sess.active_request_id ?? null;\nsess.awaiting = sess.awaiting ?? \"none\";\nsess.recipient_name = sess.recipient_name ?? null;\nsess.current_variant_idx = String(sess.current_variant_idx ?? \"0\");\nsess.last_variant_idx = String(sess.last_variant_idx ?? \"0\");\nsess.last_inline_message_id = sess.last_inline_message_id ?? null;\n\nreturn [{\n  json: {\n    ...$json,\n    seal_pick_idx,\n    session: sess,\n    active_request_id: sess.active_request_id,\n    awaiting: sess.awaiting,\n    current_variant_idx: Number(sess.current_variant_idx ?? 0),\n    last_variant_idx: Number(sess.last_variant_idx ?? 0),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3728,
        576
      ],
      "id": "2e595f28-7ffb-4352-adc4-748bcf6e1291",
      "name": "SEAL_PICK__FN_PARSE_SESSION"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "session",
        "key": "=razresheno:sess:{{ $('When Executed by Another Workflow').item.json.tg_user_id }}",
        "options": {
          "dotNotation": true
        }
      },
      "id": "6c43acd8-1975-49a6-830c-dc868f4e5e12",
      "name": "SEAL_PICK__REDIS_GET_SESSION",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3952,
        576
      ],
      "credentials": {
        "redis": {
          "id": "L8CJmx035hDrVPs3",
          "name": "Redis razresheno"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8738651494:AAEEKr11vSTrb-5y602bhqsyOHWp1sN35x8/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $node[\"When Executed by Another Workflow\"].json.chat_id,\n  text: `🏛 Бюро «Разрешено» \\n\\nНе удалось определить вариант для заверения.\nПожалуйста, выберите вариант заново.`,\n  reply_markup: {\n  \"inline_keyboard\": [\n    [{\"text\": \"Перейти к заверению\", \"callback_data\": \"GO_SEAL\"}]\n  ]\n}\n}) }}",
        "options": {}
      },
      "id": "a1184524-5d80-41ce-8e54-c02ac59fde29",
      "name": "SEAL_PICK__SEND_BAD_IDX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -752,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "bcda2a6a-0087-41a6-ab24-75a5a8a224dd",
              "leftValue": "={{$json.seal_pick_idx}}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "35cd81f4-c451-4fad-bc4a-63027c61ba3a",
              "leftValue": "={{$json.seal_pick_idx}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "82018780-90cd-42b9-8cc9-900673db3e4a",
              "leftValue": "={{$json.seal_pick_idx}}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "044724e3-315c-4d27-944f-305776be77be",
      "name": "SEAL_PICK__IF_BAD_IDX",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3280,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// SEAL_PICK__ENTRY (robust)\n\n// 1) Берём callback_data из разных возможных мест\nconst cd =\n  $json.callback_data ??\n  $json.cb ??\n  $node[\"When Executed by Another Workflow\"]?.json?.callback_data ??\n  $json.raw?.callback_query?.data ??\n  \"\";\n\n// 2) Нормализуем строку\nconst s = String(cd).trim();\n\n// 3) Парсим индекс\nconst m = s.match(/^SEAL_PICK:(\\d+)$/);\nconst idx = m ? Number(m[1]) : null;\n\nreturn [{\n  json: {\n    ...$json,\n    callback_data: s,        // чтобы дальше было видно, что реально пришло\n    seal_pick_idx: idx,      // число или null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3504,
        576
      ],
      "id": "cc3cf3f8-485f-4d49-8ec1-56bbc341089a",
      "name": "SEAL_PICK__ENTRY"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eUEULrK9LXoOY54R",
          "mode": "list",
          "cachedResultUrl": "/workflow/eUEULrK9LXoOY54R",
          "cachedResultName": "2_save_session_final"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        224
      ],
      "id": "82250c1c-6286-4fcd-844f-7ffc9a6aa224",
      "name": "Call '2_save_session_final'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96e778c9-dcdc-41c2-88d8-e86ca6e0ad6c",
              "name": "session",
              "value": "={{ $json.session }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        224
      ],
      "id": "068a5b47-ba7b-4cec-80df-28b3f41881ac",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4416,
        576
      ],
      "id": "5b87d763-416f-42c3-ac1e-9d456f318964",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "GO_SEAL__REDIS_SET_SESSION1": {
      "main": [
        [
          {
            "node": "SEAL_PICK__REDIS_GET_SESSION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__TG_EDIT_RM_LAST_INLINE16": {
      "main": [
        [
          {
            "node": "SEAL_PICK__SEND_TARIFFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__IF_HAS_LAST_INLINE15": {
      "main": [
        [
          {
            "node": "START__TG_EDIT_RM_LAST_INLINE16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEAL_PICK__SEND_TARIFFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__TG_EDIT_RM_LAST_INLINE13": {
      "main": [
        [
          {
            "node": "SEAL_PICK__SEND_VARIANT_EXPIRED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__IF_HAS_LAST_INLINE12": {
      "main": [
        [
          {
            "node": "START__TG_EDIT_RM_LAST_INLINE13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEAL_PICK__SEND_VARIANT_EXPIRED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__TG_EDIT_RM_LAST_INLINE12": {
      "main": [
        [
          {
            "node": "SEAL_PICK__SEND_NO_REQUEST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__IF_HAS_LAST_INLINE11": {
      "main": [
        [
          {
            "node": "START__TG_EDIT_RM_LAST_INLINE12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEAL_PICK__SEND_NO_REQUEST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__TG_EDIT_RM_LAST_INLINE11": {
      "main": [
        [
          {
            "node": "SEAL_PICK__SEND_BAD_IDX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__IF_HAS_LAST_INLINE10": {
      "main": [
        [
          {
            "node": "START__TG_EDIT_RM_LAST_INLINE11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEAL_PICK__SEND_BAD_IDX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__TG_EDIT_RM_LAST_INLINE2": {
      "main": [
        [
          {
            "node": "SEAL_PICK__SEND_NOT_READY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "START__IF_HAS_LAST_INLINE1": {
      "main": [
        [
          {
            "node": "START__TG_EDIT_RM_LAST_INLINE2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEAL_PICK__SEND_NOT_READY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN_BUILD_TZ_BUTTON_FOR_TARIFFS": {
      "main": [
        [
          {
            "node": "START__IF_HAS_LAST_INLINE15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG_GET_USER_TZ_FOR_TARIFFS": {
      "main": [
        [
          {
            "node": "FN_BUILD_TZ_BUTTON_FOR_TARIFFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_SEAL_PICK1": {
      "main": [
        [
          {
            "node": "SEAL_PICK__FN_PARSE_AND_VALIDATE_VARIANT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__FN_PARSE_AND_VALIDATE_VARIANT": {
      "main": [
        [
          {
            "node": "SEAL_PICK__IF_VARIANT_MISSING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__PG_UPDATE_REQUEST_SELECTED_VARIANT": {
      "main": [
        [
          {
            "node": "PG_GET_USER_TZ_FOR_TARIFFS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__IF_VARIANT_MISSING": {
      "main": [
        [
          {
            "node": "START__IF_HAS_LAST_INLINE12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEAL_PICK__PG_UPDATE_REQUEST_SELECTED_VARIANT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__REDIS_GET_VARIANT": {
      "main": [
        [
          {
            "node": "MERGE_SEAL_PICK1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SEAL_PICK__IF_IDX_NOT_READY": {
      "main": [
        [
          {
            "node": "START__IF_HAS_LAST_INLINE1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MERGE_SEAL_PICK1",
            "type": "main",
            "index": 0
          },
          {
            "node": "SEAL_PICK__REDIS_GET_VARIANT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__IF_NO_REQUEST": {
      "main": [
        [
          {
            "node": "START__IF_HAS_LAST_INLINE11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEAL_PICK__IF_IDX_NOT_READY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__FN_PARSE_SESSION": {
      "main": [
        [
          {
            "node": "SEAL_PICK__ENTRY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__REDIS_GET_SESSION": {
      "main": [
        [
          {
            "node": "SEAL_PICK__FN_PARSE_SESSION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__IF_BAD_IDX": {
      "main": [
        [
          {
            "node": "START__IF_HAS_LAST_INLINE10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEAL_PICK__IF_NO_REQUEST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__ENTRY": {
      "main": [
        [
          {
            "node": "SEAL_PICK__IF_BAD_IDX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call '2_save_session_final'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__SEND_BAD_IDX": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__SEND_NOT_READY": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__SEND_VARIANT_EXPIRED": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEAL_PICK__SEND_TARIFFS": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "GO_SEAL__REDIS_SET_SESSION1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "271390be-3c6f-4107-a5cd-7496c8a4ce1b",
  "meta": {
    "instanceId": "784907556f0c89efbde9ba288f0c0441c5b09242030c81d05d67aac99d485958"
  },
  "id": "GyV8BBLOufhdHzCU",
  "tags": []
}