4_deliveries_scheduler.json
{
  "name": "4_deliveries_scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b8f4aa86-341e-4e60-a722-dfde280c9ddc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id\nFROM razreshenobot.deliveries\nWHERE status = 'scheduled'::public.delivery_status\n  AND scheduled_at <= now()\n  AND attempts < 5\n  AND (locked_at IS NULL OR locked_at < now() - interval '15 minutes')\nORDER BY scheduled_at ASC\nLIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        0
      ],
      "id": "5f793a8f-babf-4081-aa01-1e617a6d9e3f",
      "name": "PG_SELECT_DUE_DELIVERIES",
      "credentials": {
        "postgres": {
          "id": "e36q5Gqlsldmqa0I",
          "name": "Postgres razresheno"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input AS (\n  SELECT ({{$json.id ?? 'NULL'}})::bigint AS id\n),\nupd AS (\n  UPDATE razreshenobot.deliveries\n  SET locked_at = now(),\n      lock_owner = 'wf4_scheduler'\n  WHERE id = (SELECT id FROM input)\n    AND status = 'scheduled'::public.delivery_status\n    AND (locked_at IS NULL OR locked_at < now() - interval '15 minutes')\n  RETURNING id\n)\nSELECT\n  (SELECT id FROM input) AS delivery_id,\n  (SELECT id FROM upd)   AS locked_id,\n  EXISTS (SELECT 1 FROM upd) AS locked;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        32
      ],
      "id": "2aec77df-d194-43a2-8031-9b6fe8459846",
      "name": "PG_LOCK_DELIVERY",
      "credentials": {
        "postgres": {
          "id": "e36q5Gqlsldmqa0I",
          "name": "Postgres razresheno"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "be73c352-9b3a-4558-b5b3-d35c65f167fa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1904,
        80
      ],
      "id": "fdd7347c-0348-4c1a-9a8c-f4a15b6e0703"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "001c2129-011f-4cca-abc9-c857165dadce",
              "leftValue": "={{$json.locked}}",
              "rightValue": "199",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        32
      ],
      "id": "c1602ad2-f328-4e53-92bc-37be4205d366",
      "name": "WH__IF_LOCKED"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HpOt8jlGzHkSLif7",
          "mode": "list",
          "cachedResultUrl": "/workflow/HpOt8jlGzHkSLif7",
          "cachedResultName": "WF4_delivery_worker"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "delivery_id"
          ],
          "schema": [
            {
              "id": "delivery_id",
              "displayName": "delivery_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        16
      ],
      "id": "9c1899cd-e2da-47f8-96b6-cb8dde776383",
      "name": "Call 'WF4_delivery_worker'"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "PG_SELECT_DUE_DELIVERIES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG_SELECT_DUE_DELIVERIES": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "PG_LOCK_DELIVERY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG_LOCK_DELIVERY": {
      "main": [
        [
          {
            "node": "WH__IF_LOCKED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH__IF_LOCKED": {
      "main": [
        [
          {
            "node": "Call 'WF4_delivery_worker'",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call 'WF4_delivery_worker'": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b85e1cc9-a255-46ed-8287-b8152345fefc",
  "meta": {
    "instanceId": "784907556f0c89efbde9ba288f0c0441c5b09242030c81d05d67aac99d485958"
  },
  "id": "IqScCHQVrT5MXsk7",
  "tags": []
}